[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statistics = "*"
"bs4" = "*"
validators = "*"
nltk = "==3.0.1"
requests = "*"
yapf = "*"
"html2text" = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
isort = "*"
"flake8" = "*"
arrow = "*"
python-dotenv = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
webcred = {editable = true, path = "."}
gensim = "*"
kpex = {git = "https://github.com/christophfeinauer/kpex"}
stanfordcorenlp = "*"
flask = "*"
# solution to, some RUNTIME warning issue from scipy & scikit
# export PIP_NO_BINARY=scikit-learn
# export PIP_NO_BINARY=scipy
# export PIP_NO_BINARY=ALL
scikit-learn = "*"
pandas = "*"
numpy = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "2.7"
